@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-jersey: "Jersey 10", sans-serif;
}

@layer utilities {
  .pixel-shadow {
    text-shadow:
      -2px -2px 0 #000,
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000,
       6px  6px 0 #30888E;
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  font-family: "jersey 10";
}